# Entorno de notebooks
ipykernel
setuptools<80

# Exploracion, visualizacion y procesamiento de audio
numpy<2
scipy
librosa
soundfile
matplotlib
pyyaml
pretty_midi
pedalboard==0.9.21
pandas

# Modelos de IA del pipeline
basic-pitch
demucs

# Evaluacion de transcripcion musical
mir_eval